.answerButton {
  max-width: 50rem;
  width: 800px;
  border: 0;

  /* margin: 1.875rem auto; */
  /* width: 35vw;
  height: 5vh; */
  padding: 50px;
  margin: 1%;
  margin-bottom: 3%;
  color: #000;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.875rem;
  font-family: "Jua";
  letter-spacing: 1.5px;
  box-shadow: 0 0 0 1px #f3d48b inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset,
    0 15px 0 0 #7c563f, 0 15px 0 1px rgba(0, 0, 0, 0.4),
    0 15px 15px 1px rgba(0, 0, 0, 0.5);
  background-color: #f2d388;

}

.answerButton:hover {
  color: rgb(227, 232, 251);
  background-color: #c98474;
}

.answerImg {
  height: 27vh;
  width: 24.2vw;
  border-radius: 10px;
  text-shadow: 2px 2px 3px rgb(172, 86, 0);
  border: solid 3px;
  box-shadow: 1px 1px 2px 1px;
  margin: 0em 1em 1em 1em;
}

@media (max-width: 320px) {
  .answerButton {
    font-size: 15px;
    width: 72vw;
  }
  .answerImg {
    margin: 1em 1em 1em 1em;
    width: 30vw;
    height: 25vh;
  }
}
