.callToActionDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.callToActionDiv input {
  background-color: #89d8d3;
  color: white;
  width: 78%;
  height: 7vh;
  margin-top: 15px;
  border-radius: 10px;
}

@media screen and (max-width : 768px) {
  
  .callToActionDiv {
    width: 100%;
    margin: 0 auto;
    font-size: 8px;
  }
  .callToActionDiv div{
    display: none;
  }

  .callToActionDiv input {
    height: 7vh;
}
}
