.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.659);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popupContent {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 70vw;
  height: 80vh;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 101, 122, 0.792);
  font-size: 1rem;
  letter-spacing: 1px;
  overflow-y: scroll;
}
.content {
  margin: 20px;
}
.popupContent .startBtn button {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 13px;
  padding: 3px 15px;
  background: #cfacfb;
  font-family: "NexonMaplestory";
  color: #fff;
  text-shadow: 2px 2px 3px rgb(115, 0, 172);
  box-shadow: 0px 5px 0px 0px #6215a6;
  border-radius: 5px;
  transition: all 0.2s;
}
.popupContent .startBtn button:hover {
  margin-top: 10px;
  margin-bottom: 3px;
  box-shadow: 0px 0px 0px 0px #6215a6;
  cursor: pointer;
}

/* 테스트 하러가기 버튼 - popup open */
.popupBtn {
  text-decoration: none;
  width: 130px;
  height: 40px;
  margin: 0 auto;
}
.popupBtn button {
  position: relative;
  height: 100%;
  border-radius: 5px;
  z-index: 1;
  padding: 7px 20px;
  background: transparent;
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
  font-family: "NexonMaplestory";
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 2px 2px 2px rgba(49, 49, 49, 0.482);
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.6),
    7px 7px 20px 0px rgba(0, 0, 0, 0.3), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
.popupBtn button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
  box-shadow: -2px -2px 20px 0px rgba(255, 255, 255, 0.523),
    -2px -2px 10px 0px rgba(255, 255, 255, 0.523), 7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.popupBtn button:hover {
  color: #fff;
}
.popupBtn button:hover:after {
  top: 0;
  height: 100%;
}
.popupBtn button:active {
  top: 2px;
}

/* 새로 추가한 데이터 */

.popupDiv {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-top: 1px solid #b5b5b5;
}

.img {
  width: 20vw;
  height: 30vh;
  border-radius: 2px;
  box-shadow: 2px 2px 5px #7e7e7ec7;
  margin: 20px;
}

.popupDiv div:first-child {
  margin-bottom: 30px;
  text-align: center;
  font-family: "NexonMaplestory";
}
.popupDiv div {
  margin-left: 10px;
  text-align: start;
  font-family: "NexonMaplestory";
  font-size: 1em;
}

a {
  text-align: center;
}

/* 모바일 */
@media (max-width: 768px) {
  .popupBtn {
    justify-content: center;
    width: 13vw;
    font-size: 10px;
  }

  .popupBtn button {
    position: relative;
    width: 10vw;
    right: 20%;
    height: 3vh;
    border-radius: 5px;
    z-index: 1;
    background: transparent;
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    font-family: "NexonMaplestory";
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-shadow: 2px 2px 2px rgba(49, 49, 49, 0.482);
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.6),
      7px 7px 20px 0px rgba(0, 0, 0, 0.3), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .content {
    padding: 10px;
  }

  .popupDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #b5b5b5;
    font-size: 0.5em;
  }

  .popupDiv div {
    margin: 0;
  }

  a {
    text-align: center;
    margin-top: 20px;
  }

  .img {
    width: 40vw;
    height: 30vh;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #7e7e7ec7;
    margin: 20px;
  }
}
