.ResultBody {
  width: 100%;
  height: 100vh;
  background-image: url(../../contents/images/amusement_park.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  justify-content: center;
  display: grid;
  grid-template-columns: 0.5fr 3fr 4fr 0.5fr;
}
.Loading{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
animation: left-right 5s ease-in alternate;
}
@keyframes left-right{
  from{
    transform: translateX(0px)
  }
  to{
    transform: translateX(800px)
  }
}

.ResultIMG {
  display: flex;
  align-self:flex-end;
  flex-direction: column;
}
.ResultIMG img{
  height: auto;
  width: 80%;

}
.ResultContents {
  font-family: "NexonLv2Gothic";
  letter-spacing: 0.0625rem;
justify-content: center;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  height: 80vh;
}
.Resultdescription{
  display: flex;
  align-self:flex-end;
  flex-direction: column;

}
.Resultdescription .ResultContents {
  font-family: "NexonLv2Gothic";
  grid-template-columns: 1fr 0.5fr;
  height: 80vh;
  letter-spacing: 0.0625rem;
  display: grid;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  justify-content: center;
}
h1{
  font-family: "NexonMaplestory";
  font-weight: bold;
  font-size: 2rem;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
  padding-top: 50px;
}
.ResultList {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly
}
.Link{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
    align-items: center;
}
.img_name{
  display: flex;
  flex-direction: column;
  justify-content:space-between;

  align-items: center;
}
p{
  font-family: "NexonMaplestory";
}
/* 모바일 */
@media (max-width: 768px) {
  .ResultBody {
    grid-template-columns:1fr;
  background-size: cover;
    
    margin: 0;
    height: 100vh;
  }
  .Loading{
  width: 100%;
  height: 100vh;
  display: flex;

animation: left-right 5s ease-in alternate;
}
@keyframes left-right{
  from{
    transform: translateX(0px)
  }
  to{
    transform: translateX(800px)
  }
}

}
